body {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.2;
  font-family: 'Roboto', sans-serif;
  color: #101010;
  text-align: left;
  margin-left: 1.25em;
  margin-top: 1.25em;
}

.online_report_widget {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  width: 30em;
  height: auto;
  padding: .5em .125em;
  border: 2px OUTset silver;
  background-color: Gainsboro;
  border-radius: .5em;
}

.report_area {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 28.25em;
  height: 28.25em;
  text-align: center;
  margin: 1.5em auto;
  background-color: PaleGreen;
  border: 2px inset silver;
  border-radius: .5em;
  overflow: auto;
}

.report {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 95%;
  height: auto;
  text-align: center;
  margin: 1em 0;
}

.report_time {
  width: 12em;
  font-size: .75em;
  text-align: left;
  margin-left: 4em;
}

.content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  text-align: center;
  padding: .25em 0;
}

.report_status {
  width: 3em;
  height: 1.5em;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: .25em;
  margin-right: .25em;
}

/* .report_status.action {
  background-image: url("../img/action.svg");
} */

.report_status.freekick {
  background-image: url("../img/exclamation_mark_double.svg");
}

.report_status.goal {
  background-image: url("../img/soccer_bal.svg");
}

.report_content {
  font-size: 16px;
  font-weight: normal;
  width: 31em;
  height: auto;
  text-align: left;
  padding: .25em .125em;
}
